{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<article id="page" class="{{slug}} {{post_class}}">
    <header class="photo {{#if feature_image}}" style="background-image: url({{img_url feature_image}}){{else}}no-cover{{/if}}">
        <h1 class="container">{{title}}</h1>
    </header>
    <main class="container content" role="main">
        <article class="post">
            <header class="post-header container"></header>
            <section class="post-content">
                {{content}}
            </section>
        </article>
    </main>
</article>

{{/post}}
